{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include 'partials/menu.html' %}

<section class="best-receipe-area">
    <div class="container">
        <div class="row">
        <div class="col-md-5 form_father">
            <h1 class="text-center title">Cadastro Instituição</h1>
            <form method="post" action="{% if db %}/update/{{db.id}}/{% else %}/create/{% endif %}">
                <div class="form-group">
                    <table>
                    {% csrf_token %}
                    {{institutions.as_table}}
                        <tr>
                            <th></th>
                            <td><br><br><a href="/" class="btn btn-info col-md-2">Voltar</a> <button type="submit" class="btn btn-success col-md-2">Salvar</button></td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    </div>
</section>
    {% include 'partials/footer.html' %}
{% endblock content %}