{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'partials/menu.html' %}
    <div class="col-md-5 form_father" style="margin: 50px auto">
        <h1 class="text-center title">Cadastro Cliente</h1>
        <form method="post" action="{% if db %}/update2/{{db.id}}/{% else %}/create2/{% endif %}">
            <div class="form-group">
                <table>
                    {% csrf_token %}
                    {{users.as_p}}
                    <tr>
                        <th></th>
                        <td><br><br><a href="/" class="btn btn-info col-md-2">Voltar</a><button type="submit" class="btn btn-success col-md-2">Salvar</button></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
    {% include 'partials/footer.html' %}
{% endblock content %}