
{% extends 'base.html' %}
{% load static %}

{% block css_link %}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
{% endblock css_link %}

{% block content %}

{% include 'partials/menu.html' %}
<section class="best-receipe-area">
    <div class="container">
        <div class="row gutters">
            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                            </div>
                            <h5 class="user-name">{{ institution.name }}</h5>
                            <h6 class="user-email">{{ institution.email }}</h6>
                        </div>
                        <div class="about">
                            <h5>Sobre</h5>
                            <p>{{ institution.descricao }}</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Informações Pessoais</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">Nome Completo</label>
                                <input value="{{ institution.name }}" type="text" class="form-control" id="fullName" placeholder="Preencha nome completo">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="eMail">Email</label>
                                <input value="{{ institution.email }}" type="email" class="form-control" id="eMail" placeholder="Preencha email">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Atividade</label>
                                <input value="{{ institution.atividade }}" type="text" class="form-control" id="phone" placeholder="Coloque sua atividade">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Celular</label>
                                <input value="{{ institution.celular }}" type="text" class="form-control" id="phone" placeholder="Preencha numero de celular">
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mt-3 mb-2 text-primary">Endereço</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="Street">Rua</label>
                                <input value="{{ institution.endereco }}" type="name" class="form-control" id="Street" placeholder="Preencha rua">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="zIp">CEP</label>
                                <input value="{{ institution.cep }}" type="text" class="form-control" id="zIp" placeholder="Preencha Cep">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="ciTy">Cidade</label>
                                <input value="{{ institution.city.name }}" type="name" class="form-control" id="ciTy" placeholder="Preencha cidade">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="sTate">Estado</label>
                                <input value="{{ institution.state.name }}" type="text" class="form-control" id="sTate" placeholder="Preencha estado">
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button onclick="window.location.href=`{% url 'instituicoes' %}`" type="button" id="submit" name="submit" class="btn btn-secondary">Voltar</button>
                            </div>
                        </div>
    </div>
</section>

{% include 'partials/footer.html' %}
{% endblock content %}