{% extends 'base.html' %}
{% load static %}

{% block content %} 
{% include 'partials/menu.html' %}
<section class="best-receipe-area">
    <div class="container">
        <h1 class="text-center">Doações Cadastradas</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col"># ID</th>
                <th scope="col">Nome Usuario</th>
                <th scope="col">Nome Instituição</th>
                <th scope="col">Valor</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for doacao in doacoes %}
            <tr>
                <th>{{doacao.id}}</th>
                <td>{{doacao.user.name}}</td>
                <td>{{doacao.instituicao.name}}</td>
                <td>{{doacao.valor}}</td>
                <td>
                    <a href="http://localhost:8000/admin/happy/doacao/{{doacao.id}}/change/" class="btn btn-primary">Editar</a>
                    <a href="http://localhost:8000/admin/happy/doacao/{{doacao.id}}/delete/" class="btn btn-danger">Apagar</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="window.location.href='http://localhost:8000/admin/happy/doacao/add/'">
            Vincular Doação
        </button>
    </div>
</section>
    {% include 'partials/footer.html' %}
{% endblock content %}