{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="O que está procurando...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/menu.html' %}

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                <!-- Single Best Receipe Area -->
                <div class="col-4" align="right">
                    <div class="single-best-receipe-area mb-50">
                        <div class="receipe-content">
                            <a href="/map/Hospital">
                                <img src="{% static 'img/bg-img/saude.png' %}" alt="">
                                <h5>Saúde</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-4" align="center">
                    <div class="single-best-receipe-area mb-50">
                        <div class="receipe-content">
                            <a href="/map/USP">
                                <img src="{% static 'img/bg-img/educacao.png' %}" alt="">
                                <h5>Educação</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-4" align="left">
                    <div class="single-best-receipe-area mb-50">
                        <div class="receipe-content">
                            <a href="/map/Assistencia Social">
                                <img src="{% static 'img/bg-img/assistencia_social.png' %}" alt="">
                                <h5>Assistência Social</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Best Receipe Area -->
                <div class="col-4" align="right">
                    <div class="single-best-receipe-area mb-50">
                        <div class="receipe-content">
                            <a href="/map/Pet Shop">
                                <img src="{% static 'img/bg-img/pets.png' %}" alt="">
                                <h5>Pets</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-4" align="center">
                    <div class="single-best-receipe-area mb-50">
                        <div class="receipe-content">
                            <a href="/map/Av. Miguel Ignácio Curi">
                                <img src="{% static 'img/bg-img/meio_ambiente.png' %}" alt="">
                            <h5>Meio Ambiente</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Single Best Receipe Area -->
                <div class="col-4" align="left">
                    <div class="single-best-receipe-area mb-50">
                        <div class="receipe-content">
                            <a href="/map/Avenida Brasil">
                                <img src="{% static 'img/bg-img/outros.png' %}" alt="">
                                <h5>Outros</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->
    {% include 'partials/footer.html' %}
{% endblock content %}