{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/menu.html' %}
<section class="best-receipe-area">
    <div class="container">
        <h1 class="text-center">Instituições Cadastradas</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col"># ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col">Atividade</th>
                <th scope="col">CEP</th>
                <th scope="col">Bairro</th>
                <th scope="col">Endereço</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for institution in institutions %}
            <tr>
                <th>{{institution.id}}</th>
                <td>{{institution.name}}</td>
                <td>{{institution.email}}</td>
                <td>{{institution.celular}}</td>
                <td>{{institution.atividade}}</td>
                <td>{{institution.cep}}</td>
                <td>{{institution.bairro}}</td>
                <td>{{institution.endereco}}</td>
                <td>
                    {% comment %}<a href="/map/{{institution.id}}/" class="btn btn-light">Visualizar</a>{% endcomment %}
                    <a href="http://localhost:8000/admin/happy/institution/{{institution.id}}/change/" class="btn btn-primary">Editar</a>
                    <a href="http://localhost:8000/admin/happy/institution/{{institution.id}}/delete/" class="btn btn-danger">Apagar</a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-toggle="modal" onclick="window.location.href='http://localhost:8000/admin/happy/institution/add/'">
            Cadastrar Instituição
        </button>
    </div>
</section>
{% include 'partials/footer.html' %}
{% endblock content %}