{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/menu.html' %}


<section class="best-receipe-area">
    <div class="container" style="max-width: 650px;">
        <h1 class="text-center">Sugestões</h1>
        <div class="color-light">
          <center>
          <div class="row gutters">
                <div class="card-body">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mb-2 text-primary">Queremos ouvir seu feedback</h6>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                    <label for="fullName" style="margin-top:15px">Nome</label>
                    <input type="text" class="form-control" id="fullName" style="margin: -5px" placeholder="Preencha nome completo">
                </div>
                <div class="form-group">
                    <label for="fullName">Avaliação</label>
                    <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">3</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">4</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">5</label>
                  </div>
                  </div>

                </div>
                <div class="form-group">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <label for="exampleFormControlTextarea1">Descrição</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                </div>
                <div class="row gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="text-center">
                            <button onclick="window.location.href=`{% url 'home' %}`" type="button" id="submit" name="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
              </div>
            </div>
            </center>
        </div>
    </div>
</section>

{% include 'partials/footer.html' %}
{% endblock content %}